// defaults & vars
@function map($map, $keys...) { // to access multi-maps aka vars with arrays in several deepness
  $value: $map;
  @each $key in $keys {
	$value: map-get($value, $key);
  }
  @return $value;
}

@function get-name($keys...) { // alias
	@return map($names, $keys...);
}

@mixin col($i, $cols: $columns) {
	flex-basis: percentage($i/$cols);
	max-width: percentage($i/$cols);
}
//#########################################

$columns: 12;

$breakpoints: (
		xs: 			20rem,
		s:				30rem,
		m:				48rem,
		l:				62rem,
		xl:				86rem
);

$names: (
	grid-class: 		"grid",
	column-class: 		"col",
	prefix-grid-attr:	"grid-",
	prefix-item-attr:	"item-",
	flex-wrap: 			"wrap",
	flex-nowrap: 		"nowrap",
	jc-center:			"center",
	jc-start:			"start",
	jc-end:				"end",
	jc-between:			"between",
	jc-around:			"around",
	fd-row: 			"row",
	fd-row-rev: 		"row-rev",
	fd-column: 			"column",
	fd-column-rev: 		"column-rev",
	item-stretch: 		"stretch",
	item-start: 		"top",
	item-end: 			"bottom",
	item-center: 		"middle",
	prefix-padding: 	"padding-",
);
//#########################################
// default classes

.margin {
	margin: 1em;
}

.margin-bottom {
	margin-bottom: 1em;
}

.margin-left {
	margin-left: 1em;
}

.margin-right {
	margin-right: 1em;
}

.no-margin.no-margin.no-margin {
	margin: 0;
}

.no-padding.no-padding.no-padding {
	padding: 0;
}

.padding {
	padding: 1em 1em 0 1em;
}

.padding-bottom {
	padding-bottom: 1em;
}

.padding-left {
	padding-left: 1em;
}

.padding-right {
	padding-right: 1em;
}

.list-inline {
	>li {
		display: inline-block;
	}
}
.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.#{get-name(grid-class)} {
	display: flex;
	flex-wrap: wrap;

	> .#{get-name(grid-class)} {
		display: inline-flex;
	}

	&.#{get-name(prefix-grid-attr)}#{get-name(flex-wrap)} {
		flex-wrap: wrap;
	}

	&.#{get-name(prefix-grid-attr)}#{get-name(flex-nowrap)} {
		flex-wrap: nowrap;
	}

	&.#{get-name(prefix-grid-attr)}#{get-name(jc-center)} {
		justify-content: center;
	}

	&.#{get-name(prefix-grid-attr)}#{get-name(jc-start)} {
		justify-content: flex-start;
	}

	&.#{get-name(prefix-grid-attr)}#{get-name(jc-end)} {
		justify-content: flex-end;
	}

	&.#{get-name(prefix-grid-attr)}#{get-name(jc-between)} {
		justify-content: space-between;
	}

	&.#{get-name(prefix-grid-attr)}#{get-name(jc-around)} {
		justify-content: space-around;
	}

	&.#{get-name(prefix-grid-attr)}#{get-name(fd-row)} {
		flex-direction: row;
	}

	&.#{get-name(prefix-grid-attr)}#{get-name(fd-row-rev)} {
		flex-direction: row;
	}

	&.#{get-name(prefix-grid-attr)}#{get-name(fd-column)} {
		flex-direction: column;
	}

	&.#{get-name(prefix-grid-attr)}#{get-name(fd-column-rev)} {
		flex-direction: column-reverse;
	}

	&.#{get-name(item-stretch)} {
		align-items: stretch;
	}

	&.#{get-name(item-start)} {
		align-items: flex-start;
	}

	&.#{get-name(item-end)} {
		align-items: flex-end;
	}

	&.#{get-name(item-center)} {
		align-items: center;
	}

	> .#{get-name(prefix-item-attr)}#{get-name(item-stretch)} {
		align-self: stretch;
	}

	> .#{get-name(prefix-item-attr)}#{get-name(item-start)} {
		align-self: flex-start;
	}

	> .#{get-name(prefix-item-attr)}#{get-name(item-end)} {
		align-self: flex-end;
	}

	> .#{get-name(prefix-item-attr)}#{get-name(item-center)} {
		align-self: center;
	}
}

$cc: get-name(column-class);

[class^="#{$cc}-"] {
	display: inline-block;
	float: left;
	padding: 0 1em;
	flex: 0 0 100%;
	flex-basis: 100%;
	flex-grow: 0;
	flex-shrink: 0;
}


@each $name, $bp in $breakpoints {
	@media (min-width: $bp) {
		.#{get-name(column-class)}-#{$name}-hide {
			display: none;
		}

		.#{get-name(prefix-padding)}#{$name} {
			padding: 1rem;
		}

		.#{get-name(prefix-padding)}#{$name}-bottom {
			padding-bottom: 1rem;
		}

		.#{get-name(prefix-padding)}#{$name}-none {
			padding: 0;
		}

		@for $i from 1 through $columns {

			.#{get-name(column-class)}-#{$name}-#{$i} {
				@include col($i);
				display: inline-block;

				@if $i == $columns {
					padding: 0 0 1em;
				} @else {
					// padding: initial;
				}
			}
		}
	}
}
